# 不会配置看教程：https://wzkmyww7j1.feishu.cn/docx/NjJTde6AhoL4jHxB8zxcBG4Gn3b?from=from_copylink
# 91API 聚合平台（api.91hub.vip），支持GPT、Gemini、 Claude、 DeepSeek、Qwen、GLM等所有常用大模型

# API配置（支持OpenAi标准格式）
API_KEY=sk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
API_BASE_URL=https://api.91hub.vip/v1
MODEL_NAME=claude-sonnet-4-5-20250929

# 其他配置（可选）
TEMPERATURE=0.7
MAX_ITERATIONS=30    # 推理最大轮次
VERBOSE=false        # 是否显示详细日志，false只显示关键日志，true显示详细日志


# 默认使用的系统提示词
SYSTEM_PROMPT_FILE=prompts/universal-agent-v3.md  # 系统提示词路径配置不会改默认即可

# 服务器配置启动端口号
PORT=3000
